<%# need to display total likes on all posts %>
<%# have a link to the blogger's post with most likes (name it "featured post") %>
<%# bonus: A list of that user's top 5 most written about destinations (the destinations with the most posts) %>
<h2><%= @blogger.name %>'s Profile</h2>
